/bin/
/Libs/
/.settings/
/.classpath
.svn/
*.class
*.swp
\.classpath
\.project
\.settings/
bin/lib/
Libs/
Reports/
\settings/
Test Suites/Test Suite Collections/Register and Submit Test Suites/Registrations Demo.ts
/Data-Registration-Simran.xlsx
